<style>
  body {
    background:
    linear-gradient(
      rgba(31, 31, 31, 0.85),
      rgba(31, 31, 31, 0.85)
    ),
    url('<%#= "https://image.tmdb.org/t/p/original#{@movie.backdrop_path}" %>');
  }
</style>
<div class="container">
  <div class="row">

    <div class="col-sm-3 sidebar">
      <div>
        <div class="poster">
          <%= image_tag(@movie.poster) if @movie.poster %>
        </div>
        <p>Genres: <%= @movie.genres %></p>
        <p>Runtime: <%= @movie.runtime %> minutes</p>
        <p>Release date: <%= @movie.release_date.to_date.strftime("%d/%m/%Y") if @movie.release_date %></p>
      </div>
    </div>

    <div class="col-sm-9 main">
      <div>
        <h2><%= @movie.title %> (<%= @movie.year %>)</h2>

        <h3>Plot</h3>
        <p><%= @movie.plot %></p>

        <p>Imdb Rating</p>
        <p><%= @movie.imdb_rating %></p>

        <p>Imdb Votes</p>
        <p><%= @movie.imdb_votes %></p>

        <% @movie.links.each do |link| %>
          <iframe src="<%= link.link %>" frameborder="0" width="720" height="405" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <% end %>

      </div>
    </div>
  </div>
</div>
