<style>
  body {
    background:
    linear-gradient(
      rgba(31, 31, 31, 0.85),
      rgba(31, 31, 31, 0.85)
    ),
    url('<%= "https://image.tmdb.org/t/p/original#{@movie.backdrop_path}" %>');
  }
</style>
<div class="container">
  <div class="row">

    <div class="col-sm-3 sidebar">
      <div>
        <div class="poster">
          <%= image_tag("https://image.tmdb.org/t/p/w154#{@movie.poster_path}") if @movie.poster_path %>
        </div>
        <p>Revenue: $<%= number_with_delimiter(@movie.revenue, :delimiter => ',') %></p>
        <p>Status: <%= @movie.status %></p>
        <p>Runtime: <%= @movie.runtime %></p>
        <p>Release date: <%= @movie.release_date.to_date.strftime("%d/%m/%Y") if @movie.release_date %></p>
      </div>
    </div>

    <div class="col-sm-9 main">
      <div>
        <h2><%= @movie.title %> (<%= @movie.release_date_year %>)</h2>

        <h3>Overview</h3>
        <p><%= @movie.overview %></p>

        <h3>Tagline</h3>
        <p><%= @movie.tagline %></p>

        <h3>Links</h3>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Site</th>
              <th>Uploader</th>
              <th>Links</th>
            </tr>
          </thead>
          <tbody>
          <% @movie.links.each do |link| %>
            <tr>
              <td><%= image_tag(site_image_to_image(link.site)) %><br><%= link.site %></td>
              <td><%= image_tag(site_image_to_image(link.link_type)) %><br><%= link.link_type %></td>
              <td>
                <ul>
                <% link.links.each do |link| %>
                  <li><%= link %></li>
                <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
