<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= page_meta_title %></title>
  <meta name="description" content="Direct stream full HD movies, TV Shows, Torrent, Subtitles, Watch Online, Yify, Yify Movies">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<div class="main container">
  <%= yield %>
</div>

</body>
</html>
